@import "colors";

.home{
    width: 100%;
    height: 100vh;
    // background-color: $second;

    >main{
        position: absolute;
  
        text-transform: uppercase;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        width: 100%;
        height: 100%;
        padding: 2rem;

        >h1{
            font: 400 4rem $text1;
            color: $first;
        }
        >p{
            font: 900 1rem $text1;
            color: $first;
        }
        

    }
    &::before{
        content: "";
        width: 100%;
        height: 100%;
       
        position: absolute;
        background:url("../asset/1.png") no-repeat;
        background-position: center;
        background-size: cover;
        filter: blur(3);
    border-radius: 0 0 200px 200px;
        
    }

}


.home2{
    width: 100%;
    height: 100vh;
    padding: 500px 0;
    background-color: $second;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -200px;

    >img{
        width: 30%;
        animation: imgUp 0.6s linear infinite alternate;
    }

    >div{
        display: flex;
        width: 50%;
        flex-direction: column;
        padding: 1rem;
        height: 100vh;
        align-items: center;
        justify-content: center;

        >p{
            color: $first;
            letter-spacing: 1px;
            word-spacing: 5px;
            font: 400 1rem $text1;
        }

    }
}

.home3{
    width: 100%;
    height: 120vh;
    background-color: $second;
    
    >div{
        display: flex;
        flex-direction: column;
        width: 60%;
        background-color: $first;
        justify-content: center;
        align-items: center;
        height: 100vh;
        padding: 2rem;
        border-radius: 0 200px 200px 0;

        >h1{
            font: 400 2rem $text1;
            text-transform: uppercase;
            border-bottom: 2px solid $dark;
           margin-bottom: 2vh;

        }
        >p{
            letter-spacing: 2px;
           line-height: 4vh;
            word-spacing: 4px;
            font: italic;


        }

    }
}

.home4{
    display: flex;
    height: 120vh;
    width: 100%;
    background-color: $second;
    justify-content: flex-end;

    >div{
        width: 60%;
        height: 100vh;
        background-color: $third;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 200px 0 0 200px;
        
        >h1{
            border-bottom: 2px solid $first;
            color: $first;
        }
        >article{
            display: flex;
            flex-wrap: wrap;
            margin: 2rem;
            align-items: center;
            justify-content: center;

            >a{
                color: $dark;
                display: flex;
                width: 100px;
                height: 100px;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                margin: 1rem;
                background-color: $first;
                border-radius: 50%;
                cursor: pointer;
                animation: imgUp 0.7s linear infinite alternate;
                transition: all 0.5s linear;
                
                :first-child{
                    font-size: 1.6rem;
                }
                &:hover{
                    filter:invert(1);
                }
            }
        }
    }
}


@keyframes imgUp{
    to{
        transform: translateY(-10px);
    }
}
